<%= turbo_stream.replace "ticket-sale-#{@ticket_sale.id}" do %>
  <%= render partial: "ticket_sales/ticket_sale", locals: { event: @event, ticket_sale: @ticket_sale } %>
<% end %>

<%= turbo_stream.replace "ticket-sale-form" do %>
  <div id="ticket-sale-form" hidden="true"></div>
<% end %>