<h1>Your Eventbrite Events</h1>

<div>
 <% if external_events.present? && external_events.any? %>
  <ul>
    <% external_events.each do |event| %>
      <li>
        <p><strong><%= event[:name] %> <strong></p>
        <p><%= event[:url] %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No events found.</p>
<% end %>
</div>