<h1>Your Eventbrite Events</h1>

<div>
 <% if @ext_events.any? %>
  <ul>
    <% @ext_events.each do |event| %>
      <li>
        <%= link_to event['name']['text'], eventbrite_event_path(event['id']) %>
        <p><%= event['description']['text'].truncate(100) %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No events found.</p>
<% end %>
</div>